**ASSIGNMENT----->1**
**'Balance scale data'**

In [67]:
import pandas as pd

In [68]:
column_names=['Class Name', 'Left-Weight', 'Left-Distance','Right-Weight','Right-Distance']

In [69]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',names=column_names)

In [70]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [31]:
#Check the number of data points and features in the data.
len(df.columns)

5

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Class Name      625 non-null    object
 1   Left-Weight     625 non-null    int64
 2   Left-Distance   625 non-null    int64
 3   Right-Weight    625 non-null    int64
 4   Right-Distance  625 non-null    int64
dtypes: int64(4), object(1)
memory usage: 24.5+ KB

In [72]:
df.shape

(625, 5)

In [74]:
df.size

3125

In [34]:
#Find unique values for each column.
for col in df:
    print(df[col].unique())

['B' 'R' 'L']
[1 2 3 4 5]
[1 2 3 4 5]
[1 2 3 4 5]
[1 2 3 4 5]

In [54]:
#Check the data types of values in each column.
df.dtypes

Class Name: 3 (L, B, R)              object
Left-Weight: 5 (1, 2, 3, 4, 5)        int64
Left-Distance: 5 (1, 2, 3, 4, 5)      int64
Right-Weight: 5 (1, 2, 3, 4, 5)       int64
Right-Distance: 5 (1, 2, 3, 4, 5)     int64
dtype: object

In [37]:
#Check basic statistics of data.
df.describe()

,"Left-Weight: 5 (1, 2, 3, 4, 5)","Left-Distance: 5 (1, 2, 3, 4, 5)","Right-Weight: 5 (1, 2, 3, 4, 5)","Right-Distance: 5 (1, 2, 3, 4, 5)"
count,625.000000,625.000000,625.000000,625.000000
mean,3.000000,3.000000,3.000000,3.000000
std,1.415346,1.415346,1.415346,1.415346
min,1.000000,1.000000,1.000000,1.000000
25%,2.000000,2.000000,2.000000,2.000000
50%,3.000000,3.000000,3.000000,3.000000
75%,4.000000,4.000000,4.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000

In [63]:
#Add a new column in the data
df.insert(2,'New',df['Right-Distance: 5 (1, 2, 3, 4, 5)'])
df

,"Class Name: 3 (L, B, R)","Left-Weight: 5 (1, 2, 3, 4, 5)",New,"Left-Distance: 5 (1, 2, 3, 4, 5)","Right-Weight: 5 (1, 2, 3, 4, 5)","Right-Distance: 5 (1, 2, 3, 4, 5)"
0,B,1,1,1,1,1
1,R,1,2,1,1,2
2,R,1,3,1,1,3
3,R,1,4,1,1,4
4,R,1,5,1,1,5
...,...,...,...,...,...,...
620,L,5,1,5,5,1
621,L,5,2,5,5,2
622,L,5,3,5,5,3
623,L,5,4,5,5,4
624,B,5,5,5,5,5

In [64]:
#Then drop this column just created.
del df['New']
df

,"Class Name: 3 (L, B, R)","Left-Weight: 5 (1, 2, 3, 4, 5)","Left-Distance: 5 (1, 2, 3, 4, 5)","Right-Weight: 5 (1, 2, 3, 4, 5)","Right-Distance: 5 (1, 2, 3, 4, 5)"
0,B,1,1,1,1
1,R,1,1,1,2
2,R,1,1,1,3
3,R,1,1,1,4
4,R,1,1,1,5
...,...,...,...,...,...
620,L,5,5,5,1
621,L,5,5,5,2
622,L,5,5,5,3
623,L,5,5,5,4
624,B,5,5,5,5

In [65]:
#create a new column that has values found as a result of applying some operation on the
#existing columns
df.insert(5,'Total',df['Left-Distance: 5 (1, 2, 3, 4, 5)']+df['Right-Distance: 5 (1, 2, 3, 4, 5)'])
df

,"Class Name: 3 (L, B, R)","Left-Weight: 5 (1, 2, 3, 4, 5)","Left-Distance: 5 (1, 2, 3, 4, 5)","Right-Weight: 5 (1, 2, 3, 4, 5)","Right-Distance: 5 (1, 2, 3, 4, 5)",Total
0,B,1,1,1,1,2
1,R,1,1,1,2,3
2,R,1,1,1,3,4
3,R,1,1,1,4,5
4,R,1,1,1,5,6
...,...,...,...,...,...,...
620,L,5,5,5,1,6
621,L,5,5,5,2,7
622,L,5,5,5,3,8
623,L,5,5,5,4,9
624,B,5,5,5,5,10

In [42]:
#Access elements using loc and iloc.
#iloc
df.iloc[0]

Class Name: 3 (L, B, R)              B
Left-Weight: 5 (1, 2, 3, 4, 5)       1
Left-Distance: 5 (1, 2, 3, 4, 5)     1
Right-Weight: 5 (1, 2, 3, 4, 5)      1
Right-Distance: 5 (1, 2, 3, 4, 5)    1
Name: 0, dtype: object

In [43]:
#iloc[:2]
df.iloc[:2]

,"Class Name: 3 (L, B, R)","Left-Weight: 5 (1, 2, 3, 4, 5)","Left-Distance: 5 (1, 2, 3, 4, 5)","Right-Weight: 5 (1, 2, 3, 4, 5)","Right-Distance: 5 (1, 2, 3, 4, 5)"
0,B,1,1,1,1
1,R,1,1,1,2

In [44]:
#iloc[0:2,0:2]
df.iloc[0:2,0:2]

  Class Name: 3 (L, B, R)  Left-Weight: 5 (1, 2, 3, 4, 5)
0                       B                               1
1                       R                               1

In [80]:
#loc
print(df.loc[:,"Class Name"])

0      B
1      R
2      R
3      R
4      R
      ..
620    L
621    L
622    L
623    L
624    B
Name: Class Name, Length: 625, dtype: object

In [88]:
print(df.loc[:,'Class Name':'Left-Weight'])

    Class Name  Left-Weight
0            B            1
1            R            1
2            R            1
3            R            1
4            R            1
..         ...          ...
620          L            5
621          L            5
622          L            5
623          L            5
624          B            5

[625 rows x 2 columns]

In [77]:
df.loc[:'Right-Weight']

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [89]:
#Check if there are missing values. If yes, which column.
df.isnull().sum()

Class Name        0
Left-Weight       0
Left-Distance     0
Right-Weight      0
Right-Distance    0
dtype: int64

**ASSIGNMENT----->2**
Write a function compute_dist() that accepts a list of values as input and outputs a dictionary
storing the distribution of the data represented by the list. Here, distribution means tracking how
many times each element is appearing in the given list.

In [137]:
def compute_dist(a):
  count={}
  for i in a:
    if i in count:
      count[i]+=1
    else:
      count[i]=1
  x=count
  dict1=dict(sorted(x.items()))
  return(dict1)

In [138]:
l1=[1, 1, 2, 1, 5, 1, 2, 4, 3, 4]
d1=compute_dist(l1)
print(d1)

{1: 4, 2: 2, 3: 1, 4: 2, 5: 1}